<p class="lead">Top goal scorers for the {{competition.name}}</p>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Player</th>
            <th>Country</th>
            <th>Club</th>
            <th>Goals</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let player of competition.players">
            <th>{{player.name}}</th>
            <td>{{player.country}}</td>
            <td>{{player.club}}</td>
            <td>{{player.goals}}</td>
        </tr>
    </tbody>

</table>
